<div class="card">
  <div class="header">
    <div class="title">{{ 'HEADER.IMPORTED_MINERS' | translate }}</div>

    <button mat-icon-button color="primary" [matMenuTriggerFor]="filterMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <div class="body datatable">
    <div class="responsive-table">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MINER.USERNAME' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.username}}</mat-cell>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="numberOfMiners">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MINER.NUMBER_OF_MINERS' | translate}}</mat-header-cell>
          <!--<mat-cell *matCellDef="let row" >{{row.numberOfMiners}}</mat-cell>-->
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="never" class="number-of-miners">
              <input matInput placeholder="{{'USER.MINERS' | translate}}" type="number" [value]="row.numberOfMiners" [(ngModel)]="row.numberOfMiners" (blur)="setInputValue(row)">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;" class="actions">
            <button mat-icon-button class="icon-btn" color="primary" (click)="deleteItem(row.username)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      {{'USER.NO_RESULTS' | translate}}
    </div>

    <div class="controls">
      <div>
        <button class="btn" (click)="saveChangesOnMiners()" class="edit-btn">{{'MINER.SAVE_CHANGES' | translate}}</button>
        <button class="btn" (click)="importChangesOnMiners()" tabindex="-1">{{'MINER.IMPORT_CHANGES' | translate}}</button>
      </div>
      <mat-paginator #paginator
                     [length]="dataSource.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>

<mat-menu #filterMenu="matMenu" class="filter-panel">
  <div (click)="$event.stopPropagation()">
    <mat-form-field floatPlaceholder="never" color="accent" class="filter">
      <input matInput #filter placeholder="{{'USER.FILTER' | translate}}">
    </mat-form-field>
  </div>
</mat-menu>
