@import 'variables';

.card {
  width: 50%;

  @media (max-width: 1400px) {
    width: 100%;
  }

  .body.grey {
    color: $grey;
  }
}

ul {
  margin: 0;
  padding-left: 20px;
  line-height: 18px;
}
